<!--@import url('//cdn.cubesoft.asia/webfont/Nanum.php');-->

body { font-family: "NanumGothic", sans-serif; background-color: black; color: green; }
#hello { font-size: 130%; width: 700px; margin: 0 auto; }
a { color: green; }